<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- Сервлеты -->
    <servlet>
        <servlet-name>startErpUpdateServlet</servlet-name>
        <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>startErpUpdateServlet</servlet-name>
        <url-pattern>/update/start</url-pattern>
    </servlet-mapping>

    <!--<servlet>-->
        <!--<servlet-name>shutdownErpUpdateServlet</servlet-name>-->
        <!--<servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>shutdownErpUpdateServlet</servlet-name>-->
        <!--<url-pattern>/update/shutdown</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>scheduleErpServlet</servlet-name>-->
        <!--<servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>scheduleErpServlet</servlet-name>-->
        <!--<url-pattern>/update/scheduleGisRd</url-pattern>-->
    <!--</servlet-mapping>-->

    <!--<servlet>-->
        <!--<servlet-name>showErpStatusServlet</servlet-name>-->
        <!--<servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>showErpStatusServlet</servlet-name>-->
        <!--<url-pattern>/update/showStatusGisRd</url-pattern>-->
    <!--</servlet-mapping>-->
</web-app>